<!DOCTYPE html>
<html>
    <head>
        <div>
            <img src = "Images/404 error page.png">
        </div>
    </head>
    <style>
        div {
            text-align: center;
        }
    </style>
    <body>
        <div>
            <a href = "/"> <button> Go Back </button> </a>
        </div>
    </body>
</html>