<div class = "container-fluid mt-5 service-style" id = "serviceid">
    <div class = "row">
        <div class = "col-md-8 col-12 mx-auto">
            <h1 class = "text-center main-heading" style = "font-size: 5rem; color: #fd5c63; letter-spacing: 1px; font-weight: bold;"> Our Services </h1>
            <p class = "text-center sub-heading"> Rate Your Experience </p>
            <div class = "row">
                <div class = "col-md-6">
                    <div class = "box">
                        <div class = "our-services weather">
                            <div class = "icon">
                                <img src = "Images/Satellite.gif" alt = "" style = "width: 150px; height: 150px;">
                            </div>
                            <h4> Weather </h4>
                            <p> "Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." </p>
                        </div>
                    </div>
                </div>
                <div class = "col-md-6">
                    <div class = "box">
                        <div class = "our-services weatherCalculator">
                            <div class = "icon">
                                <img src = "Images/Calculator.gif" style = "width: 150px; height: 150px;" alt = "">
                            </div>
                            <h4> Weather Calculator </h4>
                            <p> "Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." </p>
                        </div>
                    </div>
                </div>
                <div class = "col-md-6">
                    <div class = "box">
                        <div class = "our-services contactUs">
                            <div class = "icon">
                                <img src = "Images/Contact.gif" style = "width: 150px; height: 150px;" alt = "">
                            </div>
                            <h4> Contact US </h4>
                            <p> "Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." </p>
                        </div>
                    </div>
                </div>
                <div class = "col-md-6">
                    <div class = "box">
                        <div class = "our-services backups">
                            <div class = "icon">
                                <img src = "Images/Map.gif" style = "width: 150px; height: 150px;" alt = "">
                            </div>
                            <h4> Maps </h4>
                            <p> "Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." </p>
                        </div>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
</div>